<% flat = data.flats[owner] %>

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path flat.picture%>'); height: 40vh;">
</div>

<div class="container padded">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <div class="header-flat-details">
      <div class="header-flat-owner">
        <%= image_tag flat.owner_picture, class: "img-circle avatar-extralarge" %>
      </div>
      <div class="header-flat-name">
        <p><%= flat.owner_name %></p>
        <h1><%= flat.description %></h1>
        <p><%= flat.city %></p>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-4">
  <h3 class="text-left">Book this flat</h3>
    <form action="#">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" class="form-control input-lg" placeholder="checkin">
        </div>
        <div class="col-xs-6">
        <input type="text" class="form-control input-lg" placeholder="checkout">
        </div>
      </div>
    </div>
    <div class="form-group">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Search">
    </form>
  </div>

</div>

<div id="flat-description">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this flat</h2>
        <p>
          This one bedroom studio lodges 2 people (there's 1 double bed) it is located in the city center, in a calm traditional residential area near city´s main Avenue - 3 minutes walk from Sacré Coeur.
        </p>

        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Accommodates:  <strong>2</strong></li>
              <li>Bathrooms:  <strong>1</strong></li>
              <li>Bed type:  <strong>Real Bed</strong></li>
              <li>Bedrooms:  <strong>1</strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Beds: <strong>1</strong></li>
              <li>Property type: <strong>Apartment</strong></li>
              <li>Room type: <strong>Entire home/apt</strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-cutlery"></i><strong>Kitchen</strong></li>
              <li><i class="fa fa-wifi"></i><strong>Wifi</strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-desktop"></i><strong>TV</strong></li>
              <li><i class="fa fa-glass"></i><strong>Welcome drink</strong></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
